:root {
  --background-color: #f4f4f4;
  --borda_hover: #0971d9;
  
  

  
}

  /* styles.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Container Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
}

.left_container {
  width: 250px;
  background-color: #2e3f51;
  color: #fff;
  position: fixed;
  height: 100%;
}

.right_container {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.sidebar-header {
font-size: 20px;
text-align: left;
  padding: 20px;
  height: 60px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 0px 2px 5px rgba(61, 61, 61, 0.2); 
border-bottom: 1px solid #34495e;
margin-bottom: 20px;
}


.sidebar-header img {
margin-right: 5px;
width: 50px;
height: 50px;
}



.menu {
  list-style-type: none;
  flex-grow: 1;
}

.menu-title {
margin-left: 20px;
text-transform: uppercase;
font-size: 0.9rem;
color: #bdc3c7;
}

.menu_buttons {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.menu_buttons a {
  color: #fff;
  text-decoration: none;
  flex-grow: 1;
}

.menu_buttons i {
  margin-right: 10px;
}

.menu_buttons:hover {
  background-color: #34495e;
}

.ativo {
  background-color: #2980b9;
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #34495e;
}

.logout-button {
  width: 100%;
  padding: 10px 0;
  background-color: #c0392b;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #e74c3c;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #005d9c;
  height: 60px;
}

.header .title {
  font-size: 2rem;
  font-weight: bold;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 1rem;
  color: #2c3e50;
}

.right-header-buttons {
  display: flex;
  margin-right: 20px;
}

.right-header-buttons button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #2c3e50;
  cursor: pointer;
  margin-right: 10px;
}

/* Main Section Styling */
main {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.525);
}

.welcome-section {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-section h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.welcome-section p {
  font-size: 1rem;
  color: #7f8c8d;
}




.button{
  background-color : var(--borda_hover);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }



.table_container{
  margin-top: 20px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 8px;

  box-shadow: 0px  0px 6px 2px rgba(0, 0, 0, 0.2);
}
.table_header{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #34487817;
} 

.table_container .container {
  padding: 20px;
  display: flex;
  flex-direction: column;

}




/* Estilos gerais para tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: black;
 }
 

 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
 }
 th {
  padding: 12px;
  text-align: left;

 }
 
.table_body {
  margin: 20px 0;
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  border: 1px solid #f2f2f2;
 }
.table_body thead {
  
  background-color: Var(--borda_hover);
  color: rgb(255, 255, 255);
  
 }

  .table_body th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f2f2f2;
  }



  .table_body tbody tr:hover  {
    background-color: #f2f2f2;
  }



 
 td.profile_pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
 }
 
 .action-icons a {
   margin-right: 10px; /* Add some spacing between the action icons */
   color: var(--borda_hover); /* Set the color of the icons */
   text-decoration: none; /* Remove the default underline for links */
   font-size: 18px; /* Adjust the font size of the icons */
   transition: color 0.3s ease; /* Add a smooth color transition on hover */
 }
 
 .action-icons a:hover {
   color: #e74c3c;
 }
 
 
 



  
 


.search {
  display: flex;
  margin-bottom: 20px;
}


.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search button {
  padding: 10px;
  border: none;
  background-color: var(--borda_hover);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}

/* Notifications */

 .notifications,
        .logs {
            margin-bottom: 40px;
        }

        .notifications h2,
        .logs h2 {
            font-size: 1.8em;
            color: #333;
            margin-bottom: 20px;
        }

        .notification-list,
        .log-list {
            margin-top: 20px;
        }

        .notification {
            display: flex;
            align-items: center;
            padding: 15px;
            border-radius: 8px;
            background-color: #f9f9f9;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
        }

        .notification .icon {
            margin-right: 15px;
            font-size: 1.5em;
            color: #2575fc;
        }

        .notification-content {
            flex: 1;
        }

        .notification-actions {
            display: flex;
            align-items: center;
        }

        .notification-action {
            padding: 5px 10px;
            margin-right: 10px;
            border: none;
            border-radius: 5px;
            background-color: #2575fc;
            color: #fff;
            cursor: pointer;
        }

        .notification-action:hover {
            background-color: #1e5ab4;
        }

        .notification-action i {
            margin-right: 5px;
        }


        .message {
            color: #333;
            margin-bottom: 5px;
        }

        .timestamp {
            color: #666;
            font-size: 0.9em;
        }


        .log {
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border-left-width: 4px;
    border-left-style: solid;
}

.log.create {
    border-left-color: #28a745; /* Verde para criação */
}

.log.delete {
    border-left-color: #dc3545; /* Vermelho para deleção */
}

.log.update {
    border-left-color: #ffc107; /* Amarelo para atualização */
}

.log.moviment {
    border-left-color: #17a2b8; /* Azul para movimentação */
}

.message {
    color: #333;
    margin-bottom: 5px;
}

.timestamp {
    color: #666;
    font-size: 0.9em;
}

.notification.viewed {
    opacity: 0.6; /* Exemplo de estilo para notificações visualizadas */
}


 

 


